extends /template/base/base
include /component/button/button

block content
    h1 Hello #{name}
    if nickname == "aoepeople"
        h2 Ah you are from AOE :-)
    else
        h2 Hello #{nickname}

    p Current Time:
    p=data("currenttime")
    
    +button("http://www.flamingo.me")
        | My button
